# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\暑假在干什么\JD_crawl_spider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
